html
	head
		script(src='/socket.io/socket.io.js')
		script(src='/jsfile/itemclickingfunctions.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js")
		style.
			.dw {
				display:inline-block;
				margin:0 5%;
			}
			.madaechk {
				float:left;
			}
			.drawerdiv {
				width:10%;
				float:left;
		
			}
			#madaeinfo {
				background-color:green;
			}
			#availabletagdiv {
				width:95%;
				border:1px solid black;
				overflow:auto;
			}
			.coldiv {
				float:left;
				width:20%;
			}
			.titlediv {
				width:100%;
				background-color:green;
				color:white;
			}
			#madaelist {
				width:100%;
				overflow:auto;
			}


			.madaeinddiv {
				width:100%;
				text-align:center;
			}
			.madaeindname {
				width:10%;
				float:left;	
			}
			.datainfodiv {
				width:50%;
				float:left;	

			}


			#sendboxdiv {
				width:100%;
				background-color:yellow;
			}

			.imgdiv {	
				width:100%;
			}
			.imgdiv img {
				width:100%;
			}
	
			#uploadbackdiv {
				width:100%;
				height:100%;
				z-index:2;
				position:absolute;
				top:0;
				left:0;
				background-color:rgba(100,100,100,.5);
			}

			#uploadpanel {
				width:60%;
				height:80%;
				margin:5% 20%;
				background-color:yellow;
				
				
			}

		

	body

		div
			audio(id='sound1' src='/sound/audio_1.wav', autoplay=false)
			audio(id='sound2' src='/sound/audio_2.wav', autoplay=false)
			audio(id='sound3' src='/sound/audio_3.wav', autoplay=false)
		div(id='madaelist')
		div(id='sendboxdiv')
			button(onclick='connectMadaeTag();') Send
		div(id='availabletagdiv')
		

		script.
			var socket = io('/whalse');

			var chosentag=!{JSON.stringify(tag)}[0].numid
			

			var madaedata=!{JSON.stringify(a)};
			var finalitem=!{JSON.stringify(c)};
			console.log(finalitem);


			var availabletagdiv=document.getElementById('availabletagdiv');

			function exitParcelcodeUpload(){
				document.getElementById('uploadbackdiv').remove();				
			}

			function itemUpload(md){
				//socket.emit('logendpoint',{receivedplace:'zus',logcontent:'madaescanbuttontouch',contentopt1:md[0].madaename})

				var fdiv=document.createElement('div');
				fdiv.id='uploadbackdiv';
				fdiv.onclick=function(){
					fdiv.remove();
				}

				document.getElementsByTagName('body')[0].appendChild(fdiv);

				var sdiv=document.createElement('div');
				sdiv.id='uploadpanel';
				fdiv.appendChild(sdiv);

				sdiv.addEventListener('click',(e)=>{
					e.stopPropagation();
				});

				var container1=document.createElement('div');

				var inputdiv=document.createElement('div');
				var inputel=document.createElement('input');
				inputdiv.appendChild(inputel);
				inputel.id='itemtext';
				inputel.type='text';

				var inputbuttondiv=document.createElement('div');
				var inputbutton=document.createElement('button');
				inputbutton.onclick=function(k){
					return function(){
						registerItem(k);
					}
				}(md);
				inputbuttondiv.appendChild(inputbutton);
				inputbutton.innerHTML='click';
				

				container1.appendChild(inputdiv);
				container1.appendChild(inputbuttondiv);


				var datainfodiv=document.createElement('div');

				for(var ia=0; ia<md.length; ia++){
					var datadiv=document.createElement('div');
					var d=document.createElement('a');
					var barcode=md[ia].barcode.split('-')[1];
					d.innerHTML=barcode;

					for(var ib=0; ib<finalitem.length; ib++){
						if(barcode==finalitem[ib].barcode){
							d.style.color='red';	
							break;
						}
					}
					datadiv.appendChild(d);
					datainfodiv.appendChild(datadiv);
				}


				container1.appendChild(datainfodiv);

				sdiv.appendChild(container1);
				inputel.focus();
			}


			document.onkeydown = function(e){
				if(window.event.keyCode==13){
					registerItem();	
				//}else if(e.shiftKey && e.which==81){//eraser;
				}
			}




			//socket.emit('registeritem',{itemdata:{option:'getinfo'}});
			/*
			function registerItem(md){
				var fel=document.getElementById('itemtext');


				var chk0=0;
				for(var ib=0; ib<finalitem.length; ib++){
					if(fel.value==finalitem[ib].barcode){
						chk0=1;
						break;
					}
				}


				if(chk0==0){

					var chk1=0;
					for(var ia=0; ia<md.length; ia++){
						var barcode=md[ia].barcode.split('-')[1];
						if(fel.value==barcode){
							chk1=1;
							var itemdata={madaename:md[ia].madaename,barcode:barcode,ininumid:md[ia].numid,receivedplace:'zus',option:'iteminsert'}
							break;
						}
					}

					if(chk1==1){
						socket.emit('registeritem',{itemdata:itemdata})
						socket.emit('logendpoint',{receivedplace:'zus',logcontent:'itemregistered successfully',contentopt1:itemdata.madaename})
	
						var sound1=document.getElementById('sound1');
						sound1.play();
					}else{
						var sound3=document.getElementById('sound3');
						socket.emit('logendpoint',{receivedplace:'zus',logcontent:'item register is blocked by no data',contentopt1:md[0].madaename})
						sound3.play();

					}
				}else{
						var sound2=document.getElementById('sound2');
						socket.emit('logendpoint',{receivedplace:'zus',logcontent:'item register is blocked by existence',contentopt1:md[0].madaename})
						sound2.play();

				}
				fel.value='';
			}*/

			function connectMadaeTag(){
				if(chosentag!=''){
					socket.emit('madaetagprocessing',{madaelist:chosenlist,tagnumid:chosentag,option:'zssimpleinsert'})
				}else{
					alert('got problem');
				}
			}


			function removeallele(parentid){
				var parent=document.getElementById(parentid);
				while(parent.firstChild){
					parent.firstChild.remove();
				}
			}


			var indmadae=[];
			for(var ia=0; ia<madaedata.length; ia++){
				var chk=0;
				for(var ib=0; ib<indmadae.length; ib++){
					if(indmadae[ib]==madaedata[ia].madaename){
						chk=1;
						break;
					}
				}
				if(chk==0){
					indmadae.push(madaedata[ia].madaename)
				}
			}


			var chosenlist=[];
			var madaelist=document.getElementById('madaelist');
			console.log(madaedata);

			var madaeinfolist=[];
			for(var ib=0; ib<indmadae.length; ib++){
				madaeinfolist.push([indmadae[ib],[],[],[]])
			for(var ia=0; ia<madaedata.length; ia++){
				if(madaedata[ia].madaename==indmadae[ib]){
					madaeinfolist[madaeinfolist.length-1][1].push(madaedata[ia].w_orderday.split('_')[0]);
					madaeinfolist[madaeinfolist.length-1][2].push(madaedata[ia].picassign);
					madaeinfolist[madaeinfolist.length-1][3].push(madaedata[ia]);
				}
			}
			}

			console.log(madaeinfolist);
			for(var ib=0; ib<madaeinfolist.length; ib++){


				var fdiv=document.createElement('div');

				fdiv.className='madaeinddiv'

				var sdiv=document.createElement('div');


				var releasepointdiv=document.createElement('div');
				releasepointdiv.innerHTML=madaeinfolist[ib][1][0];

				var datediv=document.createElement('div');
				datediv.innerHTML=madaeinfolist[ib][0].split('-')[0][2]+madaeinfolist[ib][0].split('-')[0][3]+'월 '+madaeinfolist[ib][0][4]+madaeinfolist[ib][0][5]+'일';
		
				var markingnumdiv=document.createElement('div');
				markingnumdiv.innerHTML='마킹'+madaeinfolist[ib][0].split('-')[1];

				sdiv.appendChild(releasepointdiv);
				sdiv.appendChild(datediv);
				sdiv.appendChild(markingnumdiv);



				var imgdiv=document.createElement('div');
				imgdiv.className='imgdiv';
				var imgel=document.createElement('img');
				imgel.src='/whalse/whalsezusphoto/'+madaeinfolist[ib][2][0];
				imgdiv.appendChild(imgel);
				sdiv.appendChild(imgdiv);
				
				
				sdiv.id=madaeinfolist[ib][0];
				sdiv.className='madaeindname'

				imgdiv.onclick=function(i){
					return function(){
						clickToChosen(i,'madaeind');		
					}
				}(madaeinfolist[ib][0]);






				var datainfodiv=document.createElement('div');
				datainfodiv.className='datainfodiv';

				for(var ia=0; ia<madaeinfolist[ib][3].length; ia++){
					var datadiv=document.createElement('div');
					var d=document.createElement('a');
					var barcode=madaeinfolist[ib][3][ia].barcode.split('-')[1];
					d.innerHTML=barcode;

					for(var ic=0; ic<finalitem.length; ic++){
						if(barcode==finalitem[ic].barcode){
							d.style.color='white';	
							d.style.textDecoration='underline';	
							d.style.backgroundColor='green';
							break;
						}
					}
					datadiv.appendChild(d);
					datainfodiv.appendChild(datadiv);
				}


				fdiv.appendChild(sdiv);
				fdiv.appendChild(datainfodiv);
				
				madaelist.appendChild(fdiv);
			}





