html
	head
		script(src='/socket.io/socket.io.js')
		script(src='/util/psre/psreassign.js')
		script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML")
		title Student evaluation page
		style.
			
			#partition1 {
				width:10%;
				height:100%;
				float:left;
			}
			#partition2 {
				width:90%;
				height:100%;
				float:left;
			}

			#head {
				width:100%;
				height:10%;
				background-color:#aaaaaa;
			}
			#head div {
				margin:0 2%;
			
			}
			#controlpanel {
				width:30%;
				height:100%;
				float:right;
				cursor:pointer;
			}
			#container2 {
				width:100%;
				height:50%;
			}
			#container1 div {
				width:15%;
				float:left;
				margin: 0;
				text-align:center;
				position:relative;
				top:30%;
			}
			#container1 {
				width:100%;
				height:50%;


			}
			#container1 div:hover {
				background-color:blue;
				color:white;

			}


			#classinspect a {
				text-decoration:none;
				color:black;
			}
			#classinspect a:hover {
				color:white;
			}
			
			#container2 div {
				margin:0;
				//width:20%;
				height:50%;
				float:left;
				text-align:center;
			
				
			}

			#container2 div:hover {
				background-color:yellow;
			}
			#r2body {
				width:100%;
				height:90%;
				overflow:auto;
			}
			#r2listdiv {
				width:100%;
				overflow:auto;
				background-color:#cccccc;
			}
			.r2list {
				float:left;
			}
			.r2listinfodiv {
				width:90%;
				box-shadow:3px 3px black;
				background-color:#61EA36;
				text-align:center;
				padding:0% 5%;
				display:table;
			}
			.listfinfodiv {
				width:100%;
				text-align:center;
				background-color:red;
				overflow:auto;
			}
			.listinfodiv a {
				font-size:.8em;
				display:table-cell;
				vertical-align:middle;

			}
			.r2resultdisplay {
				width:100%;
				//overflow:auto;
				
			}
			.r2resultdisplay div {
				overflow:auto;
				width:10%;
				height:100%;
				float:right;
				font-size:.7em;
			}



			.r1containerdiv {
				width:100%;
			}
			
			.r1div {
				float:left;
				font-size:.8em;
				width:90%;
				padding:0 5%;
				margin:5% 0;
			}


			.r1divdatadiv {
				width:100%;	
			}
			.r1divdatadiv div {
				float:left;
				width:20%;
				text-align:center;
			}
			.wrsscount {
				background-color:blue;
				color:white;
			}
			.hwcount {
				background-color:red;
				color:white;
			}
			.inscount {
				background-color:#7af0ed;
			}
			.glcount {
				background-color:yellow;
			}

			#stdlistdiv {
				width:25%; 
				overflow:auto;
				height:100%;
				text-align:center;
				background-color:#dddddd;
			}
			#stdlistdiv div {
				width:20%;
				margin:1% 0;
				hight:30%;
				cursor:pointer;
				float:left;
			}

			::-webkit-scrollbar {
				display:none;
			}
			#prbdisplay {
				height:100%;
				background-color:#eeeeee;
				position:fixed;
				top:0;
				right:0;
				z-index:2;
				width:1%;
				overflow:auto;
				transition: width .2s;

			}


			#solveresult {
				width:55%;
				height:100%;
				background-color:red;
				float:left;
			}
			#wrssresultdiv {
				width:100%;
				height:33%;
				background-color:yellow;
				overflow:auto;
			}
			#wrssresultdiv div {
				width:100%;
				height:100%;
				
			}
			#wrssresultdiv div img {
				width:100%;
			}

			#hwresultdiv {
				width:100%;
				height:33%;
				overflow:auto;
			}
			.hwprbdiv {
				width:100%;
				background-color:blue;
			}
			.hwprbimgdiv {
				width:100%;
				background-color:#22dd21;
			}
			.hwprbimgdiv img {
				width:100%;
			}

			#glresultdiv {
				width:100%;
				height:33%;
				overflow:auto;
			}
			.glprbdiv {
				width:100%;
				background-color:yellow;
			}
			.glprbimgdiv {
				width:100%;
				background-color:#22dd21;
			}
			.glprbimgdiv img {
				width:100%;
			}



			#prblist {
				width:30%;
				height:100%;
				float:left;
				overflow:auto;
			}
			.prbdisplaydiv {
				width:90%;
				padding:5%;
			}
			.prbpicdiv {
				width:100%;
				
			}
			.prbpicdiv img {
				width:100%;
			}
			
			.refdiv {
				width:100%;
				height:2%;
			}
			.refdiv div {
				width:20%;
				float:left;
				height:100%;
			}


			.r1divadiv {
				overflow:hidden;
			}

			#r2listdivbrief {
				width:100%;
				height:100%;
				overflow:auto;		
				background-color:#cccccc;
				//background-color:#BFE3F2;
			}
			.r2briefdiv {
				width:100%;
				cursor:pointer;
				//height:5%;
				overflow:auto;
				//color:white;
			}
			.r2briefdiv:hover {
				background-color:purple;
			}
			.r2brieflistinfodiv {
				width:60%;
				//height:50%;
				float:left;
				font-size:.5em;

			}
			.r2brieflistinfodiv:hover {

				color:white;
			}
			.r2resultdisplaybrief {

				width:40%;
				float:left;
			}

			.r2resultdisplaybrief div {
				text-align:center;
				overflow:auto;
				width:10%;
				//height:50%;
				float:right;
				font-size:.7em;
			}



	body
		div(id='partition1')
			div(id='r2listdivbrief')
		div(id='partition2')
			div(id='head')


				//div(id='' onclick='resultDisplay()') 1000 Days
				div(id='controlpanel')
					div(id='container1')
						div(id='rdinspect' onclick='rdInspecting()') RD inp
						div(id='classinspect')
							a(href='/vdrg/userclasshistory' target='_blank') C history
							
						div(id='rounddisplay') 0
						div(id='divisiondisplay' onclick='divisionVariation()')
						div(id='prv' onclick='callPrvr1()') Prv 
						div(id='next' onclick='callNextr1()') Next
					div(id='container2')
				
				div(id='stdlistdiv')
			div(id='r2body')
				div(id='r2listdiv')
			div(id='prbdisplay')
				div(id='prblist')
				div(id='solveresult')
			
		script.
			var userinfo=!{JSON.stringify(username)}
			var socket = io('/vdrg');
			var r2list=!{JSON.stringify(r2list)}
			var username='bob';
			var beforetime=1;
			var divinum=25;

			document.getElementById('divisiondisplay').innerHTML=divinum;
			document.onkeydown = function(e){
				if(e.shiftKey && e.which==70){
					switchFolding();
				}
			}


			RDpanel();
			function RDpanel(){
				var container2=document.getElementById('container2');
				var timearr=[1,2,3,4,5,6,7,8,14,30,60,90,150,210,330,450,790,10000];
			
				var diviN=Math.ceil(timearr.length/2);
				
				for(var ia=0; ia<timearr.length; ia++){
					var fdiv=document.createElement('div');
					fdiv.id='bf'+ia;
					fdiv.className='beforetime';
					fdiv.innerHTML=timearr[ia];
					fdiv.onclick=function(i){
						return function(){	
							beforetime=timearr[i];
							resultDisplay(timearr[i]);
							beforetimeColor("bf"+i);
						}
					}(ia);

					container2.appendChild(fdiv);
					fdiv.style.width=Math.floor(100/diviN)+'%';
				}
				
				
				document.getElementById('bf0').click();
			
			}

			//let inspectid=null;
			function rdInspecting(){
				//if(inspectid==null){
					var count=0;
					inspectid=setInterval(function(){
						var drawerlist=document.getElementsByClassName('beforetime');
						drawerlist[count%drawerlist.length].click();
						count++;

						if(count==drawerlist.length){
							clearInterval(inspectid);
							//inspectid=null;
						}
					
					},300)
				//}else{
					//clearInterval(inspectid);
					//inspectid=null;
				}
			//}

			function userColorset(username){
				var colordiv=document.getElementsByClassName('usercolorset');
				for(var ia=0; ia<colordiv.length; ia++){
					colordiv[ia].style.backgroundColor='';
					colordiv[ia].style.color='';
				}

				if(document.getElementById('chosen'+username)){
					document.getElementById('chosen'+username).style.backgroundColor='blue';
					document.getElementById('chosen'+username).style.color='white';
				}
				
			}


			function beforetimeColor(bfid){
				var colordiv=document.getElementsByClassName('beforetime');
				for(var ia=0; ia<colordiv.length; ia++){
					colordiv[ia].style.backgroundColor='';
					colordiv[ia].style.color='black';
				}
				document.getElementById(bfid).style.backgroundColor='yellow';
				document.getElementById(bfid).style.color='black';
				
			}


			var optionpanelfolding=0;
			function switchFolding(){
				var callingoptionpaneldiv=document.getElementById('prbdisplay');
				if(optionpanelfolding==0){
					callingoptionpaneldiv.style.width=60+'%';
					callingoptionpaneldiv.style.zIndex=7;
					optionpanelfolding=1;
				}else if(optionpanelfolding==1){
					callingoptionpaneldiv.style.width=1+'%';
					callingoptionpaneldiv.style.zIndex=6;
					optionpanelfolding=0;
				}
			}	


			function callStdlist(){
				socket.emit('callstdlist',{username:userinfo.username});
			}
			callStdlist();

			socket.on('callstdlistafter',function(a){
				var indstd=[];
				for(var ia=0; ia<a.a.length; ia++){
					var chk=0;
					for(var ib=0; ib<indstd.length; ib++){
						if(indstd[ib][0]==a.a[ia].username){
							chk=1;
							break;
						}
					}
					if(chk==0){
						indstd.push([a.a[ia].username,a.a[ia].DisplayName]);
					}
				}
				
				var stdlistdiv=document.getElementById('stdlistdiv');
				for(var ia=0; ia<indstd.length; ia++){
					var fdiv=document.createElement('div');
					fdiv.className='usercolorset';
					fdiv.id='chosen'+indstd[ia][0];
					fdiv.onclick=function(i){
						return function(){
							username=i
							userColorset(i);
							resultDisplay(beforetime);
						}
					}(indstd[ia][0]);
					var fdiva=document.createElement('a');
					fdiva.innerHTML=indstd[ia][1];
					fdiv.appendChild(fdiva);
					stdlistdiv.appendChild(fdiv);
				}
			});


			socket.on('showuserdataresultafter',function(a){

				var indprbww=[];
				for(var ia=0; ia<a.wwpic.length; ia++){
					var chk=0;
					for(var ib=0; ib<indprbww.length; ib++){
						if(indprbww[ib]==a.wwpic[ia].prbid){
							chk=1;
							break;
						}
					}
					if(chk==0){
						indprbww.push(a.wwpic[ia].prbid)
					}
				}


				var prbpic=[];
				for(var ia=0; ia<indprbww.length; ia++){
					prbpic[ia]={prbid:indprbww[ia],pic:[]}
					for(var ib=0;ib<a.wwpic.length; ib++){
						if(a.wwpic[ib].prbid==indprbww[ia]){
							prbpic[ia].pic.push([a.wwpic[ib].mpicid,a.wwpic[ib].ansresult,a.wwpic[ib].createdate]);
						}
					}
				}
				// '/usernote/wrsswritingpic/'+a.wrsspic...	



				var indprbhw=[];
				
				for(var ia=0; ia<a.hw.length; ia++){
					var chk=0;
					for(var ib=0; ib<indprbhw.length; ib++){
						if(indprbhw[ib]==a.hw[ia].prbid){
							chk=1;
							break;
						}
					}
					if(chk==0){
						indprbhw.push(a.hw[ia].prbid)
					}
				}
		
				var hwprbpic=[];
				for(var ia=0; ia<indprbhw.length; ia++){
					hwprbpic[ia]={prbid:indprbhw[ia],pic:[],createdate:[],evalresult:[],timepassed:[]}
					for(var ib=0;ib<a.hw.length; ib++){
						if(a.hw[ib].prbid==indprbhw[ia]){
							hwprbpic[ia].pic.push(a.hw[ib].mpicid);
							hwprbpic[ia].createdate.push(a.hw[ib].createdate);
							hwprbpic[ia].evalresult.push(a.hw[ib].ratingdetail);
							hwprbpic[ia].timepassed.push(a.hw[ib].timepassed);
						}
					}
				}



				var indprbgl=[];
				
				for(var ia=0; ia<a.glpic.length; ia++){
					var chk=0;
					for(var ib=0; ib<indprbgl.length; ib++){
						if(indprbgl[ib]==a.glpic[ia].prbid){
							chk=1;
							break;
						}
					}
					if(chk==0){
						indprbgl.push(a.glpic[ia].prbid)
					}
				}
	

				var glprbpic=[];
				for(var ia=0; ia<indprbgl.length; ia++){
					glprbpic[ia]={prbid:indprbgl[ia],pic:[],ans:[],createdate:[]}
					for(var ib=0;ib<a.glpic.length; ib++){
						if(a.glpic[ib].prbid==indprbgl[ia]){
							glprbpic[ia].pic.push(a.glpic[ib].mpicid);
							glprbpic[ia].ans.push(a.glpic[ib].ans);
							glprbpic[ia].createdate.push(a.glpic[ib].createdate);
						}
					}
				}


				var r2listdiv=document.getElementsByClassName('r2listinfodiv');
				for(var ia=0; ia<r2listdiv.length; ia++){	
					var prblist=r2listdiv[ia].getAttribute('data-prblist').split(',');
						
					var wrnum=0;
					for(var ib=0; ib<prblist.length; ib++){
						var chk=0;
						for(var ic=0; ic<prbpic.length; ic++){
							if(prbpic[ic].prbid==prblist[ib]){
								chk=1;
								break;
							}
						}
						if(chk==1){
							wrnum+=1;
						}
					}

					if(wrnum!=0){
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[0].innerHTML=wrnum;
					}else{
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[0].innerHTML='';

					}


					var hwnum=0;
					for(var ib=0; ib<prblist.length; ib++){
						for(var ic=0; ic<hwprbpic.length; ic++){
							if(hwprbpic[ic].prbid==prblist[ib]){
								hwnum+=1;
							}
						}
					}
					if(hwnum!=0){
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[1].innerHTML=hwnum;
					}else{
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[1].innerHTML='';

					}

					var insnum=0;
					var addedprb=[];
					for(var ib=0; ib<prblist.length; ib++){
						var chk=0;
						for(var ic=0; ic<a.instruct.length; ic++){
							if(a.instruct[ic].prbid==prblist[ib]){
								chk=1;
								break;
							}
						}
						if(chk==1){
							var chk2=0;
							for(var id=0; id<addedprb.length; id++){
								if(prblist[ib]==addedprb[id]){
									chk2=1;
									break;
								}
							}
							if(chk2==0){
								insnum+=1;
								
								addedprb.push(prblist[ib]);
							}
						}
					}
					if(insnum!=0){
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[2].innerHTML=insnum;
					}else{
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[2].innerHTML='';

					}

					var glnum=0;
					for(var ib=0; ib<prblist.length; ib++){
						var chk=0;
						for(var ic=0; ic<glprbpic.length; ic++){
							if(glprbpic[ic].prbid==prblist[ib]){
								chk=1;
								break;
							}
						}
						if(chk==1){
							glnum+=1;
						}
					}
					if(glnum!=0){
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[3].innerHTML=glnum;
					}else{
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[3].innerHTML='';

					}
					
				}



				var r2listdiv=document.getElementsByClassName('r2briefdiv');
				for(var ia=0; ia<r2listdiv.length; ia++){	
					var prblist=r2listdiv[ia].getAttribute('data-prblist').split(',');
						
					var wrnum=0;
					for(var ib=0; ib<prblist.length; ib++){
						var chk=0;
						for(var ic=0; ic<prbpic.length; ic++){
							if(prbpic[ic].prbid==prblist[ib]){
								chk=1;
								break;
							}
						}
						if(chk==1){
							wrnum+=1;
						}
					}

					if(wrnum!=0){
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[0].innerHTML=wrnum;
					}else{
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[0].innerHTML='';

					}


					var hwnum=0;
					for(var ib=0; ib<prblist.length; ib++){
						for(var ic=0; ic<hwprbpic.length; ic++){
							if(hwprbpic[ic].prbid==prblist[ib]){
								hwnum+=1;
							}
						}
					}
					if(hwnum!=0){
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[1].innerHTML=hwnum;
					}else{
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[1].innerHTML='';

					}

					var insnum=0;
					var addedprb=[];
					for(var ib=0; ib<prblist.length; ib++){
						var chk=0;
						for(var ic=0; ic<a.instruct.length; ic++){
							if(a.instruct[ic].prbid==prblist[ib]){
								chk=1;
								break;
							}
						}
						if(chk==1){
							var chk2=0;
							for(var id=0; id<addedprb.length; id++){
								if(addedprb[id]==prblist[ib]){	
									chk2=1;
								}
							}
							if(chk2==0){
								insnum+=1;
							}
						}
					}
					if(insnum!=0){
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[2].innerHTML=insnum;
					}else{
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[2].innerHTML='';

					}

					var glnum=0;
					for(var ib=0; ib<prblist.length; ib++){
						var chk=0;
						for(var ic=0; ic<glprbpic.length; ic++){
							if(glprbpic[ic].prbid==prblist[ib]){
								chk=1;
								break;
							}
						}
						if(chk==1){
							glnum+=1;
						}
					}
					if(glnum!=0){
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[3].innerHTML=glnum;
					}else{
						r2listdiv[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[3].innerHTML='';

					}
					
				}



				var r1div=document.getElementsByClassName('r1div');
				for(var ia=0; ia<r1div.length; ia++){
					var prblist=r1div[ia].getAttribute('data-prblist').split(',');
					
					var wrnum=0;
					var wrssresult=[];
					for(var ib=0; ib<prblist.length; ib++){
						//var chk=0;
						for(var ic=0; ic<prbpic.length; ic++){
							if(prbpic[ic].prbid==prblist[ib]){
								//chk=1;
								wrssresult.push([prbpic[ic].prbid, prbpic[ic].pic])
								//break;
								wrnum+=1;
							}
						}
						//if(chk==1){
							//wrnum+=1;
						//}
					}

					if(wrnum!=0){
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[0].innerHTML=wrnum;
		

						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[0].onclick=function(){
							return function(){
							}
						}();
					}else{
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[0].innerHTML='';
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[0].onclick=''

					}

					var hwnum=0;
					var hwresult=[];
					for(var ib=0; ib<prblist.length; ib++){
						//var chk=0;
						for(var ic=0; ic<hwprbpic.length; ic++){
							if(hwprbpic[ic].prbid==prblist[ib]){
								//chk=1;
								hwresult.push([hwprbpic[ic].prbid,hwprbpic[ic].pic,hwprbpic[ic].createdate,hwprbpic[ic].evalresult,hwprbpic[ic].timepassed])
								//break;
								hwnum+=1;
							}
						}
						//if(chk==1){
							//hwnum+=1;
						//}
					}
					if(hwnum!=0){
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[1].innerHTML=hwnum;
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[1].onclick=function(){
							return function(){
							}
						}();
					}else{
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[1].innerHTML='';
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[1].onclick=''

					}

					var insnum=0;
					var instructprb=[];
					var addedprb=[];
					for(var ib=0; ib<prblist.length; ib++){
						var chk=0;
						for(var ic=0; ic<a.instruct.length; ic++){
							if(a.instruct[ic].prbid==prblist[ib]){
								instructprb.push(a.instruct[ic].prbid);
								chk=1;
								break;
								//insnum+=1;
							}
						}
						if(chk==1){
							var chk2=0;
							for(var id=0; id<addedprb.length; id++){
								if(addedprb[id]==prblist[ib]){
									chk2=1;
								}
							}
							if(chk2==0){
								insnum+=1;
							}
						}
					}
					if(insnum!=0){
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[2].innerHTML=insnum;
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[2].onclick=function(){
							return function(){
							}
						}();
					}else{
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[2].innerHTML='';
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[2].onclick=''

					}

					var glnum=0;
					var glresult=[];
					for(var ib=0; ib<prblist.length; ib++){
						//var chk=0;
						for(var ic=0; ic<glprbpic.length; ic++){
							if(glprbpic[ic].prbid==prblist[ib]){
								//chk=1;
								glresult.push([glprbpic[ic].prbid,glprbpic[ic].pic,glprbpic[ic].ans,glprbpic[ic].createdate])
								//break;
								glnum+=1;
							}
						}
						//if(chk==1){
							//hwnum+=1;
						//}
					}
					if(glnum!=0){
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[3].innerHTML=glnum;
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[3].onclick=function(){
							return function(){
							}
						}();
					}else{
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[3].innerHTML='';
						r1div[ia].getElementsByTagName('div')[1].getElementsByTagName('div')[3].onclick=''

					}




					r1div[ia].onclick=function(l,i,j,k,m){
						return function(){
							callcpt1result(l,i,j,k,m);
						}
					}(prblist,wrssresult, hwresult,instructprb,glresult);


					/*
					r1div[ia].onclick=function(i,j,k,l){
						return function(){
							console.log(i,j,k,l)
						}
					}(prblist,a.instruct,prbpic,hwprbpic);*/



				}
				
				userColorset(username);
				setEvenheight('r2listinfodiv');
			});


			function callcpt1result(prblist,wrsspic, hwpic, instructprb,glpic){
				removeallele('prblist');
				removeallele('solveresult');
				switchFolding();
				socket.emit('hwuserhistoryprbresult',{prblist:prblist,wrsspic:wrsspic,hwpic:hwpic,instructprb:instructprb,glpic:glpic})
			}

			function resultDisplay(t){
				if(username!=''){

					socket.emit('showuserdataresult',{username:username, time:t});
				}
			}

			function divisionVariation(){
				var divnumel = document.getElementById('divisiondisplay')
				var cirnum=[3, 6, 10, 15, 25, 40]


				var nnum=0;
				for(var ia=0; ia<cirnum.length; ia++){
					if(Number(divnumel.innerHTML)==cirnum[ia]){
						nnum=cirnum[ia];
						break;
					}
				}

				divnumel.innerHTML=cirnum[(ia+1)%cirnum.length];
			}

			function callPrvr1(){
				removeallele('r2listdiv');
				var rounddisplay = Number(document.getElementById('rounddisplay').innerHTML);
				var divisiondisplay= Number(document.getElementById('divisiondisplay').innerHTML);

				callr1listofRound(rounddisplay-1,divisiondisplay);
				//document.getElementById('rounddisplay').innerHTML=(rounddisplay-1)%(Math.floor(r2list.length/divisiondisplay)+1)

			}


			function callNextr1(){
				removeallele('r2listdiv');
				var rounddisplay = Number(document.getElementById('rounddisplay').innerHTML);
				var divisiondisplay= Number(document.getElementById('divisiondisplay').innerHTML);

				callr1listofRound(rounddisplay+1,divisiondisplay);

			}

			function removeallele(parentid){
				var parent=document.getElementById(parentid);
				if(parent.firstChild !=null){
		
					while(parent.firstChild){
						parent.firstChild.remove();
					}
				}
			}


			socket.on('hwuserhistoryprbresultafter',function(a){


				for(var ia=0; ia<a.prbcon.length; ia++){
					var fdiv=document.createElement('div');

					fdiv.className='prbdisplaydiv'

					if(a.prbcon[ia][8]!=null){
						var mmcpctspicdiv=document.createElement('div');
						mmcpctspicdiv.className='prbpicdiv';
						var mmcpctspic=document.createElement('img');
						mmcpctspic.src=a.prbcon[ia][8];
						mmcpctspicdiv.appendChild(mmcpctspic);
						fdiv.appendChild(mmcpctspicdiv);
					}


			
					var fdivreaddiv=document.createElement('div');
					var fdivreada=document.createElement('a');
					fdivreada.innerHTML=a.prbcon[ia][1];
					fdivreaddiv.appendChild(fdivreada);

	
					fdiv.appendChild(fdivreaddiv);

					var fdivmulti=document.createElement('div');

					var fdivmultic1=document.createElement('div');
					var fdivmultic1a=document.createElement('a');
					fdivmultic1a.innerHTML=a.prbcon[ia][4];
					fdivmultic1.appendChild(fdivmultic1a);
					fdivmulti.appendChild(fdivmultic1);

					var fdivmultic2=document.createElement('div');
					var fdivmultic2a=document.createElement('a');
					fdivmultic2a.innerHTML=a.prbcon[ia][5];
					fdivmultic2.appendChild(fdivmultic2a);
					fdivmulti.appendChild(fdivmultic2);

					var fdivmultic3=document.createElement('div');
					var fdivmultic3a=document.createElement('a');
					fdivmultic3a.innerHTML=a.prbcon[ia][6];
					fdivmultic3.appendChild(fdivmultic3a);
					fdivmulti.appendChild(fdivmultic3);

					var fdivmulticans=document.createElement('div');
					var fdivmulticansa=document.createElement('a');
					fdivmulticansa.innerHTML=a.prbcon[ia][2];
					fdivmulticans.appendChild(fdivmulticansa);
					fdivmulti.appendChild(fdivmulticans);

				
					fdiv.appendChild(fdivmulti);

					var fdivref=document.createElement('div');
					fdivref.className='refdiv';

					var instref=document.createElement('div');
					instref.id='inst'+a.prbcon[ia][0];
					fdivref.appendChild(instref);

					var hwref=document.createElement('div');
					hwref.id='hw'+a.prbcon[ia][0];
					fdivref.appendChild(hwref);

					var wrssref=document.createElement('div');
					wrssref.id='wrss'+a.prbcon[ia][0];
					fdivref.appendChild(wrssref);

					var glref=document.createElement('div');
					glref.id='gl'+a.prbcon[ia][0];
					fdivref.appendChild(glref);


			
					fdiv.appendChild(fdivref);

					document.getElementById('prblist').appendChild(fdiv);
					
				}



				for(var ia=0; ia<a.instructprb.length; ia++){
					var vdiv=document.getElementById('inst'+a.instructprb[ia]);
					vdiv.style.backgroundColor='#25EDE8';
				}

				/*
				for(var ia=0; ia<a.wrsspic.length; ia++){
					document.getElementById('wrss'+a.wrsspic[ia][0]).style.backgroundColor='blue';
				}

				for(var ia=0; ia<a.hwpic.length; ia++){
					document.getElementById('hw'+a.hwpic[ia][0]).style.backgroundColor='red';
				}

				for(var ia=0; ia<a.glpic.length; ia++){
					document.getElementById('gl'+a.glpic[ia][0]).style.backgroundColor='yellow';
				}
				*/


				function inDisplay(prbid,pickind){
					if(pickind=='wrss'){
						removeallele('wrssresultdiv');
						for(var ia=0; ia<a.wrsspic.length; ia++){
							if(a.wrsspic[ia][0]==prbid){
								for(var ib=0; ib<a.wrsspic[ia][1].length; ib++){
									var imgdiv=document.createElement('div');
									var imgdiva=document.createElement('a');
									imgdiva.innerHTML=a.wrsspic[ia][1][ib][2];
									imgdiv.appendChild(imgdiva);
	
									var imgel=document.createElement('img');
									imgel.src='/usernote/wrsswritingpic/'+a.wrsspic[ia][1][ib][0];
									imgdiv.appendChild(imgel);
									wrssdiv.appendChild(imgdiv);
								}
							}
						}
						
					}else if(pickind=='hwpic'){
						removeallele('hwresultdiv');
						var solveobj=[];
						for(var ia=0; ia<a.hwpic.length; ia++){
							if(a.hwpic[ia][0]==prbid){
								console.log(a.hwpic[ia]);
								var fdiv=document.createElement('div');
								fdiv.className='hwprbdiv'
								hwdiv.appendChild(fdiv);


								for(var ib=0; ib<a.hwpic[ia][1].length; ib++){
									solveobj.push({prbid:prbid,solvepic:a.hwpic[ia][1][ib],evalresult:a.hwpic[ia][3][ib]});
									var imgdiv=document.createElement('div');
									imgdiv.className='hwprbimgdiv';
									imgdiv.id='img'+a.hwpic[ia][1][ib];
									var imgdiva=document.createElement('a');
									imgdiva.innerHTML=a.hwpic[ia][2][ib]+', '+a.hwpic[ia][4][ib];
									var imgel=document.createElement('img');
									imgel.src='/usernote/mmcphomework/'+a.hwpic[ia][1][ib];
									imgdiv.appendChild(imgel);
									imgdiv.appendChild(imgdiva);
									fdiv.appendChild(imgdiv);
								}
							}
						}
						assignFunc(solveobj,'img',1,userinfo.username,'',username)


					}else if(pickind=='glpic'){
						removeallele('glresultdiv');
						for(var ia=0; ia<a.glpic.length; ia++){
							if(a.glpic[ia][0]==prbid){
								var fdiv=document.createElement('div');
								fdiv.className='glprbdiv'

								for(var ib=0; ib<a.glpic[ia][1].length; ib++){
									var imgdiv=document.createElement('div');
									imgdiv.className='glprbimgdiv';
									var imgdiva=document.createElement('a');
									imgdiva.innerHTML=a.glpic[ia][3][ib];
									imgdiv.appendChild(imgdiva);

									var imgel=document.createElement('img');
									imgel.src='/usernote/mmcppic/'+a.glpic[ia][1][ib];
									imgdiv.appendChild(imgel);
									fdiv.appendChild(imgdiv);
								}
						
								var fdivans=document.createElement('div');
								fdivans.innerHTML=a.glpic[ia][2][0];
								fdiv.appendChild(fdivans);
								gldiv.appendChild(fdiv);
							}
						}

					}
				}


				var solveresultdiv=document.getElementById('solveresult');


				var wrssdiv=document.createElement('div');
				wrssdiv.id='wrssresultdiv';
				solveresultdiv.appendChild(wrssdiv);

				for(var ia=0; ia<a.wrsspic.length; ia++){
					var fd=document.getElementById('wrss'+a.wrsspic[ia][0]);
					fd.style.backgroundColor='blue';
					fd.onclick=function(i){
						return function(){
							inDisplay(i,'wrss')
						}
					}(a.wrsspic[ia][0]);
				}


				var hwdiv=document.createElement('div');
				hwdiv.id='hwresultdiv';
				for(var ia=0; ia<a.hwpic.length; ia++){
					var fhw=document.getElementById('hw'+a.hwpic[ia][0])
					fhw.style.backgroundColor='red';
					fhw.onclick=function(i){
						return function(){
							inDisplay(i,'hwpic')
						}
					}(a.hwpic[ia][0]);

				}

				//var solveresultdiv=document.getElementById('solveresult');
				solveresultdiv.appendChild(hwdiv);


				var gldiv=document.createElement('div');
				gldiv.id='glresultdiv';
				for(var ia=0; ia<a.glpic.length; ia++){
				
					var fgl=document.getElementById('gl'+a.glpic[ia][0])
					fgl.style.backgroundColor='yellow';
					fgl.onclick=function(i){
						return function(){
							inDisplay(i,'glpic')
						}
					}(a.glpic[ia][0]);

				}

				//var solveresultdiv=document.getElementById('solveresult');
				solveresultdiv.appendChild(gldiv);



				MathJax.Hub.Queue(["Typeset",MathJax.Hub,document.getElementById('prbdisplay')]);
			});
		




			callr2briefstructure();

			function callr2briefstructure(){
				var r2listdivbrief=document.getElementById('r2listdivbrief');


				for(var ia=0; ia<r2list.length; ia++){
					var r2listinfodiv=document.createElement('div');
					//r2listinfodiv.className='r2list';
					r2listinfodiv.className='r2briefdiv';



			//callr1listofRound(0,divinum);
					r2listinfodiv.onclick=function(i){
						return function(){
							removeallele('r2listdiv');

							var rounddisplay = Number(document.getElementById('rounddisplay').innerHTML);
							var divisiondisplay= Number(document.getElementById('divisiondisplay').innerHTML);

							var displaynum=Math.floor(i/divisiondisplay);
							callr1listofRound(displaynum,divisiondisplay)

						}
					}(ia);					

					var listinfodiv=document.createElement('div');
					listinfodiv.className='r2brieflistinfodiv'
					listinfodiva=document.createElement('a');
					var charinfo=r2list[ia].r2listinfo.split('#');
					if(charinfo.length==2 && charinfo[0]=='w'){
						r2listinfodiv.style.backgroundColor='#A4BB39';
						listinfodiva.innerHTML='['+(ia+1)+'] '+charinfo[1];
					}else if(charinfo.length==2 && charinfo[0]=='s'){
						r2listinfodiv.style.backgroundColor='#EC5113';
						listinfodiva.innerHTML='['+(ia+1)+'] '+charinfo[1];
					}else {
						listinfodiva.innerHTML='['+(ia+1)+'] '+r2list[ia].r2listinfo;
					}


					listinfodiv.appendChild(listinfodiva);

					var r2resultDisplay=document.createElement('div');
					r2resultDisplay.className='r2resultdisplaybrief'
					r2resultDisplay.id='rd'+r2list[ia].r2id

					var r2rddiv1=document.createElement('div');
					var r2rddiv2=document.createElement('div');
					var r2rddiv3=document.createElement('div');
					var r2rddiv4=document.createElement('div');

					r2rddiv1.className='wrsscount';
					r2rddiv2.className='hwcount';
					r2rddiv3.className='inscount';
					r2rddiv4.className='glcount';

					r2resultDisplay.appendChild(r2rddiv1);
					r2resultDisplay.appendChild(r2rddiv2);
					r2resultDisplay.appendChild(r2rddiv3);
					r2resultDisplay.appendChild(r2rddiv4);


					var r2prblist='';
					for(var ib=0; ib<r2list[ia].r1list.length; ib++){
						if(ib==0){
							r2prblist=r2list[ia].r1list[ib][2];
						}else{
							r2prblist=r2prblist+','+r2list[ia].r1list[ib][2];
						}
					}

					r2listinfodiv.setAttribute('data-prblist',r2prblist)


					
					//listinfodiv.appendChild(r2resultDisplay);//r2brieflistinfodiv
					r2listinfodiv.appendChild(listinfodiv);
					r2listinfodiv.appendChild(r2resultDisplay);

					r2listdivbrief.appendChild(r2listinfodiv);


				}


			}	
			callr1listofRound(0,divinum);
			function callr1listofRound(trround,div){
				// div is integer, trround is integer

				var r2leng = Math.floor(r2list.length/div)+1;
				if(trround==-1){
					var round=r2leng-1;
				}else{
					var round=trround%r2leng;
				}
				document.getElementById('rounddisplay').innerHTML=round;



				var r2listdiv=document.getElementById('r2listdiv');
				for(var ia=round*div; ia<round*div+div; ia++){
					if(ia<r2list.length){
						var fdiv=document.createElement('div');

						fdiv.style.width=(98/div)+'%';
						fdiv.className='r2list';

						var r2listinfodiv=document.createElement('div');
						r2listinfodiv.className='r2listinfodiv';

						var listinfodiv=document.createElement('div');
						listinfodiv.className='listinfodiv';
						listinfodiva=document.createElement('a');
						var charinfo=r2list[ia].r2listinfo.split('#');
						if(charinfo.length==2 && charinfo[0]=='w'){
							r2listinfodiv.style.backgroundColor='#A4BB39';
							listinfodiva.innerHTML='['+(ia+1)+'] '+charinfo[1];
						}else if(charinfo.length==2 && charinfo[0]=='s'){
							r2listinfodiv.style.backgroundColor='#EC5113';
							listinfodiva.innerHTML='['+(ia+1)+'] '+charinfo[1];
						}else {
							listinfodiva.innerHTML='['+(ia+1)+'] '+r2list[ia].r2listinfo;
						}


						listinfodiv.appendChild(listinfodiva);

						var r2resultDisplay=document.createElement('div');
						r2resultDisplay.className='r2resultdisplay'
						r2resultDisplay.id='rd'+r2list[ia].r2id

						var r2rddiv1=document.createElement('div');
						var r2rddiv2=document.createElement('div');
						var r2rddiv3=document.createElement('div');
						var r2rddiv4=document.createElement('div');

						r2rddiv1.className='wrsscount';
						r2rddiv2.className='hwcount';
						r2rddiv3.className='inscount';
						r2rddiv4.className='glcount';
	
						r2resultDisplay.appendChild(r2rddiv1);
						r2resultDisplay.appendChild(r2rddiv2);
						r2resultDisplay.appendChild(r2rddiv3);
						r2resultDisplay.appendChild(r2rddiv4);
		

						var r2prblist='';
						for(var ib=0; ib<r2list[ia].r1list.length; ib++){
							if(ib==0){
								r2prblist=r2list[ia].r1list[ib][2];
							}else{
								r2prblist=r2prblist+','+r2list[ia].r1list[ib][2];
							}
						}

						r2listinfodiv.setAttribute('data-prblist',r2prblist)


						r2listinfodiv.appendChild(listinfodiv);
						r2listinfodiv.appendChild(r2resultDisplay);

						fdiv.appendChild(r2listinfodiv);


						var r1containerdiv=document.createElement('div');
						r1containerdiv.className='r1containerdiv';

						for(var ib=0; ib<r2list[ia].r1list.length; ib++){
							var r1div=document.createElement('div');
							r1div.className='r1div';
							r1div.id=r2list[ia].r1list[ib][0];
							r1div.setAttribute('data-prblist',r2list[ia].r1list[ib][2]);
							r1div.onclick=function(i){
								return function(){
									switchFolding();
									//socket.emit('vdrgcallleadfilterprblist',{plist:i})
								}
							}(r2list[ia].r1list[ib][2]);

							var r1divadiv=document.createElement('div');
							r1divadiv.className='r1divadiv';
							var r1diva=document.createElement('a');
							if(r2list[ia].r1list[ib][2]!=''){
								r1diva.innerHTML=r2list[ia].r1list[ib][1]+'<a style="font-size:.8em">('+r2list[ia].r1list[ib][2].split(',').length+')</a>';
							}else{
								r1diva.innerHTML=r2list[ia].r1list[ib][1]+'<a style="font-size:.5em">('+0+')</a>';
							}
							r1divadiv.appendChild(r1diva);

							var r1divdatadiv=document.createElement('div');
							r1divdatadiv.className='r1divdatadiv';

							var r1divdatadiv0=document.createElement('div');
							r1divdatadiv0.className='wrsscount';
							r1divdatadiv.appendChild(r1divdatadiv0);

							var r1divdatadiv1=document.createElement('div');
							r1divdatadiv1.className='hwcount';
							r1divdatadiv.appendChild(r1divdatadiv1);

							var r1divdatadiv2=document.createElement('div');
							r1divdatadiv2.className='inscount';
							r1divdatadiv.appendChild(r1divdatadiv2);

							var r1divdatadiv3=document.createElement('div');
							r1divdatadiv3.className='glcount';
							r1divdatadiv.appendChild(r1divdatadiv3);



							r1div.appendChild(r1divadiv);
							r1div.appendChild(r1divdatadiv);

							r1containerdiv.appendChild(r1div);
						}

						fdiv.appendChild(r1containerdiv);
			
		
						r2listdiv.appendChild(fdiv);
					}
				}
				//setEvenheight('r2listinfodiv');

				if(typeof MathJax !== 'undefined'){
					MathJax.Hub.Queue(["Typeset",MathJax.Hub,r2listdiv]);
				}


				resultDisplay(beforetime);	
				
			}
			function setEvenheight(csname){
				var maxv=0;
				var cs=document.getElementsByClassName(csname);
				for(var ia=0; ia<cs.length; ia++){
					if(maxv < cs[ia].clientHeight){
						maxv=cs[ia].clientHeight;
					}
				}

				for(var ia=0; ia<cs.length; ia++){
					cs[ia].style.height=maxv+'px';
				}


			}
