html
	head
		style.
			.pcslot a {
				margin:0 4%;
				width:6%;
				display:inline-block;
			}
			.pcslot:hover {
				background-color:purple;
				color:white;
			}
			.pcslot {
				cursor:pointer;
			}
		script(src='/socket.io/socket.io.js')

	body
		h2(onclick='tempMarkingreset();') 스캔 작업현황 (Scan Status)
		div(id='output')

		
	script.
		var pcl=!{JSON.stringify(pcl)};
		var orderlist=!{JSON.stringify(orderlist)};
		var err=!{JSON.stringify(e)};
		var socket = io('/whalse',{
			transports:['websocket'],
			upgrade:false
		});

		function tempMarkingreset(){
			socket.emit('scanstatus',{mode:'tempreset'})

		}
		console.log(pcl)

		

		var headlist=['현황','스캔차수','송장수', '송장순서','작업버튼','출고날짜','마킹번호','송장순서','마킹상태']


		var pctotal=[];

		
		//arrivaldate, 
		for(var ia=0;ia<pcl.length; ia++){
			pctotal.push([pcl[ia].arrivaldate,pcl[ia].roundnum,pcl[ia].branchoffice,'정상',1,pcl[ia].parcelcodelist,new Date(pcl[ia].arrivaldate),pcl[ia].registerseq,pcl[ia].numid,pcl[ia].markingstatus])
		}
		for(var ia=0;ia<err.length; ia++){
			pctotal.push([err[ia].registereddate,err[ia].roundnum,err[ia].branchoffice,'대기',err[ia].transform,'',new Date(err[ia].registereddate),err[ia].registernum,'',''])
		}


		pctotal.sort((a,b) => (a[6]-b[6]))
		var indslot=[];
		console.log(pctotal)
		//indslot이란, processinglist에서의 데이터를 독립기준에 따라서 데이터를 분리한다. 
		for(var ia=0; ia<pctotal.length; ia++){
			var chk=0;
			for(var ib=0; ib<indslot.length; ib++){
				if(indslot[ib][0]==pctotal[ia][0] && indslot[ib][1]==pctotal[ia][1] && indslot[ib][2]==pctotal[ia][2] && indslot[ib][3]==pctotal[ia][3]){
					chk=1;
					break;
				}
			}
			if(chk==0){
				indslot.push([pctotal[ia][0], pctotal[ia][1], pctotal[ia][2], pctotal[ia][3],pctotal[ia][4],pctotal[ia][5],pctotal[ia][9]]);
			}
		}
		console.log(indslot)
		for(var ia=0; ia<indslot.length; ia++){
			
			


			if(ia==0){
				var fdiv=document.createElement('div');
				fdiv.className='pcslot';



				var cstatus=document.createElement('a');
				var cdate=document.createElement('a');
				var croundnum=document.createElement('a');
				var cbranchoffice=document.createElement('a');
				var pcjudge=document.createElement('a');
				var pccounta=document.createElement('a');
				var pcordera=document.createElement('a');
				var gobutton=document.createElement('a');
				var markingstatushead=document.createElement('a');




				cstatus.innerHTML=headlist[0];
				cdate.innerHTML=headlist[1];
				pccounta.innerHTML=headlist[2];
				pcordera.innerHTML=headlist[3];
				gobutton.innerHTML=headlist[4];
				markingstatushead.innerHTML=headlist[8];
				fdiv.appendChild(cstatus);
				fdiv.appendChild(cdate);
				fdiv.appendChild(pccounta);
				fdiv.appendChild(pcordera);
				fdiv.appendChild(gobutton);
				fdiv.appendChild(markingstatushead);

				fdiv.style.marginBottom='2%';
				document.getElementById('output').appendChild(fdiv);

			}


			var fdiv=document.createElement('div');
			fdiv.className='pcslot';



			var cstatus=document.createElement('a');
			var cdate=document.createElement('a');
			var croundnum=document.createElement('a');
			var cbranchoffice=document.createElement('a');
			var pcjudge=document.createElement('a');
			var pccounta=document.createElement('a');
			var gobutton=document.createElement('a');
			var pcordera=document.createElement('a');


			cdate.innerHTML=indslot[ia][0]+' '+indslot[ia][1]+'차'+' '+indslot[ia][2]+' '+indslot[ia][3];

			var pccount=0;
			var pclstr='';
			var pcorder='';
			var tooutput=[];
			var pclnumidlist=[];
			for(var ib=0; ib<pctotal.length; ib++){
				if(indslot[ia][0]==pctotal[ib][0] && indslot[ia][1]==pctotal[ib][1] && indslot[ia][2]==pctotal[ib][2] && indslot[ia][3]==pctotal[ib][3]){	
	
					
					if(pccount==0){
						pclstr+=pctotal[ib][5];
						pcorder+=pctotal[ib][7] + '번';
					}else{
						pcorder+=','+pctotal[ib][7]+'번';
						pclstr+=','+pctotal[ib][5];
					}
					tooutput.push(pctotal[ib]);
					pclnumidlist.push(pctotal[ib][8])
					
					pccount+=1;
					
				}

			}
			pccounta.innerHTML=pccount;


			
			var isStatusConsistance=true;
			var icurrentStatus;
			for(var ib=0; ib<tooutput.length; ib++){
				if(ib==0){
					icurrentStatus=tooutput[ib][9];
				}else{
					if(icurrentStatus!=tooutput[ib][9]){
						isStatusConsistance=false;
					}
				}

			}
			
			var markingstatus=document.createElement('a');

			
			if(tooutput[0][9]=='ini'){
				markingstatus.innerHTML='마킹준비됨'
				var ismarkingstatusComplete=false;
			}else if(tooutput[0][9]=='markingcomplete'){
				markingstatus.innerHTML='마킹완료'
				var ismarkingstatusComplete=true;
			}else if(tooutput[0][9]=='markingprogressing'){
				markingstatus.innerHTML='마킹중'
				var ismarkingstatusComplete=false;
			}
			console.log(tooutput)
			
			

			var tooutputstr=JSON.stringify(tooutput)

			if(indslot[ia][4]==1){//에러관점에서 정상. 에러가 아닌 상태.
				cstatus.innerHTML='작업대기';


				if(ismarkingstatusComplete){
					gobutton.innerHTML='clickToUndo';
					gobutton.onclick=function(k){
						return function(){
							socket.emit('scanstatus',{mode:'undo',pclnumidlist:k})
						}
					}(pclnumidlist)

				}else{
					gobutton.onclick=function(s,k,u,i){
						
						return function(){
							

							if(i[0][9]=='ini'){
								socket.emit('scanstatus',{mode:'pclmarkingstatusedit',pclnumidlist:u})	
								
								
							}else if(i[0][9]=='markingprogressing'){
								
							}else{
								
							}
							window.location='./selectoutput?selectpclist='+s+'&fieldstring='+orderlist[0].orderset+'&tooutputstr='+k;
						}
						
					}(pclstr,tooutputstr,pclnumidlist,tooutput);
					gobutton.innerHTML='GO';
				}
				
			}else if(indslot[ia][4]=='ini'){//에러관점에서 아직 미처리 상태
				pcordera.innerHTML=pcorder;
				cstatus.innerHTML='데이터대기';
				gobutton.innerHTML='GO';

				gobutton.style.color='red';
				gobutton.style.backgroundColor='black';
				//gobutton.style.backgroundColor='2px 2px 4px black';
			}else if(indslot[ia][4]=='edited'){//에러관점에서 처리된 상태
				pcordera.innerHTML=pcorder;
				cstatus.innerHTML='작업대기';
				gobutton.innerHTML='GO';
				gobutton.onclick=function(s){
					return function(){
						window.location='./selectoutput?selectpclist='+s+'&fieldstring='+orderlist[0].orderset;
					}
				}(pclstr);

				gobutton.style.color='red';
				gobutton.style.backgroundColor='black';

			}else{
			}



	
			fdiv.appendChild(cstatus);
			fdiv.appendChild(cdate);
			//fdiv.appendChild(croundnum);
			//fdiv.appendChild(cbranchoffice);
			//fdiv.appendChild(pcjudge);
			fdiv.appendChild(pccounta);
			fdiv.appendChild(pcordera);
			

			fdiv.appendChild(gobutton);
			fdiv.appendChild(markingstatus);


			document.getElementById('output').appendChild(fdiv);

			
		}
		socket.on('scanstatusafter',function(a){
			if(a.mode=='pclmarkingstatusedit' || a.mode=='undo' || a.mode=='tempreset'){
				location.reload();
			}
		})
		
