extends choosecrs
block coursedetail 
	div
		div
			-for(var ib=0; ib<relatedCrs.length; ib++){
				a=relatedCrs[ib]
			-}
	div(id='crstable')
			-for(var ia=0; ia<rele.length; ia++){
				div(id='r'+ia)
					a=rele[ia][0]
					a=rele[ia][1]
					a=rele[ia][2]
					a=rele[ia][3]
					a=rele[ia][4]
					a=rele[ia][5]
					a=rele[ia][6]
					a=rele[ia][7]
					a=rele[ia][8]
					a=rele[ia][9]
					a=rele[ia][10]
			-}
