html
	head
		title SVG test
		script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML")
		style.
			body {
				background-color:#222222;
			}
	body
		div
			h2 SVG
		div
			canvas(id='can')
		div(id='tagImage' width='100px' height='100px')
		div 
			p canvas
		div
			a(id='link') Download
		div
			//svg(height='100' width='100')
				//circle(cx='50' cy='50' r='40' stroke='black' stroke-width='3' fill='red')
			svg(viewBox="0 0 200 200" xmlns='http://www.w3.org/2000/svg')
				style.
					div {
						color:red;
					}
				polygon( points='5,5 195,10 185,185 10,195')
				foreignObject(x='20' y='20' width='160' height='160')
					div(xmlns='http://www.w3.org/1999/xhtml') \(\frac{2}{3}+\beta+\alpha\)
		script.
			var svgtag=document.getElementsByTagName('svg');
			var svg=svgtag[0];
			var loader=new Image;
			var tagImage=document.getElementById('tagImage');
			var can=document.getElementById('can');
			var ctx=can.getContext('2d');
	
			loader.width=can.width=tagImage.width;
			loader.height=can.height=tagImage.height;
			loader.onload=function(){
				ctx.drawImage(loader,0,0,loader.width, loader.height);
				tagImage.src=can.toDataURL();
			}

			console.log(loader);
			var svgAsXML=(new XMLSerializer()).serializeToString(svg);
			loader.src='data:image/svg+xml,'+encodeURIComponent(svgAsXML);

			
			/*

			var svgtag=document.getElementsByTagName('svg');
			console.log(svgtag[0]);
			var svg=svgtag[0];
			var serializer= new XMLSerializer();
			var source = serializer.serializeToString(svg);
			if(!source.match(/^<svg[^>]+xmlns="http\:\/\/www\.w3\.org\/2000\/svg"/)){
				source = source.replace(/^<svg/, '<svg xmlns="http://www.w3.org/2000/svg"');
			}
			if(!source.match(/^<svg[^>]+"http\:\/\/www\.w3\.org\/1999\/xlink"/)){
				source = source.replace(/^<svg/, '<svg xmlns:xlink="http://www.w3.org/1999/xlink"');
			}

			//add xml declaration
			source = '<?xml version="1.0" standalone="no"?>\r\n' + source;

			//convert svg source to URI data scheme.
			var url = "data:image/svg+xml;charset=utf-8,"+encodeURIComponent(source);

			//set url value to a element's href attribute.
			document.getElementById("link").href = url;
			//you can download svg file by right click menu.*/
