html
	head
		style.
			svg,img,canvas {
				display:block;
			}
	body
		svg(height='100')
			rect(width='40' height='50' style='fill:blue')

		img

		canvas

		a(id='dl' download='canvas.png' href='#') DownLoad canvas


		script.
			var svg=document.querySelector('svg');
			var img=document.querySelector('img');
			var canvas = document.querySelector('canvas');
			var xml = new XMLSerializer().serializeToString(svg);
			var svg64 = btoa(xml);
			var b64Start = 'data:image/svg+xml; base64';

			var image64= b64Start+svg64;
			img.src=image64;
			canvas.getContext('2d').drawImage(img,0,0);
			function dlCanvas(){
				var dt=canvas.toDataURL('image/png');
				console.log(dt);
				dt = dt.replace(/^data:image\/[^;]*/, 'data:application/octet-stream');
				dt = dt.replace(/^data:application\/octet-stream/, 'data:application/octet-stream;headers=Content-Disposition%3A%20attachment%3B%20filename=Canvas.png')
				this.href=dt;
			} 
			document.getElementById('dl').addEventListener('click',dlCanvas,false);

