html
	head
		title Rank2 Order
		style.
			#r2list{
				border:1px solid;
				padding:2% 0 2% 0;
				cursor:pointer;
			}
			#r2listboard {
				cursor:pointer;
				border:1px solid;
				padding:2% 0 2% 0;
			}
			#childwaiting {
				cursor:pointer;
				border:1px solid;
				padding:2% 0 2% 0;
			}

		script(src='/socket.io/socket.io.js')
		script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML")
	body
		h2 R2order


		div
			button(onclick='establishOrder();') Establish Order
		div(id='r2list')
		div(id='childwaiting')
		div(id='r2listboard')
	script.
		var socket = io('/cpt');


		var givenchildlist=[];
		var chosenchild='';


		socket.on('establishOrderr2after',function(){
			window.location.reload();
		});

		function tempAlert(msg,duration){
			var el = document.createElement("div");
			el.setAttribute("style","position:absolute;top:10%;left:35%;background-color:white;padding:5% 10%;z-index:6;");
			el.innerHTML = msg;
			setTimeout(function(){
				el.parentNode.removeChild(el);
			},duration);
			document.body.appendChild(el);
		}



		function establishOrder(){
			if(rgchildlist.length==givenchildlist.length){
				console.log(rgchildlist);
				for(var ia=0; ia<rgchildlist.length; ia++){
					rgchildlist[ia][2]=ia;
				}	
				socket.emit('establishOrderr2',{r2list:rgchildlist});
				tempAlert('the data is updated', 1000);
			}else{
				alert('the order is not completed yet');
			}
		}





		function putColoron(classN, idN,colorN){
			var cn=document.getElementsByClassName(classN);
			for(var ia=0; ia<cn.length; ia++){	
				cn[ia].style.color='';
				cn[ia].style.backgroundColor='';
			}
			document.getElementById(idN).style.backgroundColor=colorN[0];
			document.getElementById(idN).style.color=colorN[1];
		}



		function rgprb(ele){
			chosenchild=ele;
			putColoron('chosenchild',ele,['blue','white']);
		}


		function idxOf(arr,itm){
			var chk=0;
			for(var ia=0; ia<arr.length; ia++){
				if(arr[ia][0]==itm){
					chk=1;
					break;
				}
			}
			if(chk==1){
				return ia;
			}else{
				return -1;
			}
		}





		function removeFromrglist(ele){
			var idx=idxOf(rgchildlist,ele);
			if(idx>-1){
				rgchildlist.splice(idx,1);
			}else{
				alert('error from remove rglist');
			}

			childOrder('r2listboard');
			callChildwaiting('childwaiting',givenchildlist);
			rgprb(ele);
		}





		function callChildwaiting(childwaiting,childlist){

			removeallele(childwaiting);
			var prbwaitingdiv=document.getElementById(childwaiting);

			var waiting=[];
			for(var ia=0; ia<childlist.length; ia++){
				var chk=0;
				for(var ib=0; ib<rgchildlist.length; ib++){
					if(rgchildlist[ib][0]==childlist[ia][0]){
						chk=1;
						break;
					}
				}
				if(chk==0){
					waiting.push(childlist[ia])
				}
			}


			for(var ia=0; ia<waiting.length; ia++){
				var wdiv=document.createElement('div');
				var wdiva=document.createElement('A');
				wdiva.innerHTML=waiting[ia][1];
				wdiv.id=waiting[ia][0];
				wdiv.className='chosenchild'
				wdiv.onclick=function(i){return function(){rgprb(i);}}(waiting[ia][0]);
				wdiv.appendChild(wdiva);
				prbwaitingdiv.appendChild(wdiv);
			}

			MathJax.Hub.Queue(["Typeset",MathJax.Hub,childwaiting]);
		}		
	



		function removeallele(parentid){
			var parent=document.getElementById(parentid);
			while(parent.firstChild){
				parent.firstChild.remove();
			}
		}

		
		function putOrderon(ord){
			var idx=idxOf(givenchildlist,chosenchild);

			if(chosenchild!=''){
				rgchildlist.splice(ord,0,givenchildlist[idx]);
				
				chosenchild='';
				childOrder('r2listboard');
				callChildwaiting('childwaiting',givenchildlist);
			
			}else{
				alert('the Child is not chosen');
			}
			
		}	



			function childOrder(childboard){//childboard - prblistboard	
				removeallele(childboard);
				var prblistboard=document.getElementById(childboard);
				if(rgchildlist.length==0){
					var porder0=document.createElement('div');
					var porder0a=document.createElement('A');
					porder0a.innerHTML='porder0';
					porder0.appendChild(porder0a);
					porder0.onclick=function(i){return function(){putOrderon(i);}}(0);
					prblistboard.appendChild(porder0);
				}else{
					for(var ia=0; ia<=rgchildlist.length; ia++){
						if(ia!=rgchildlist.length){
							var porder=document.createElement('div');
							var pcon=document.createElement('div');

							var pordera=document.createElement('A');
							var pcona=document.createElement('A');
		
							pordera.innerHTML='porder'+ia;
							pcona.innerHTML=rgchildlist[ia][1];

							pcon.onclick=function(i){return function(){removeFromrglist(i);}}(rgchildlist[ia][0]);
							porder.onclick=function(i){return function(){putOrderon(i);}}(ia);

							porder.appendChild(pordera);
							pcon.appendChild(pcona);

							prblistboard.appendChild(porder);
							prblistboard.appendChild(pcon);
						}else{
							var porder=document.createElement('div');

							var pordera=document.createElement('A');
		
							pordera.innerHTML='porder'+ia;

							porder.onclick=function(i){return function(){putOrderon(i);}}(ia);

							porder.appendChild(pordera);

							prblistboard.appendChild(porder);


						}
					}	
				}
				MathJax.Hub.Queue(["Typeset",MathJax.Hub,childboard]);
			}



		function callR2list(){
			socket.emit('r2ordercallr2list')
		}

		var rgchildlist=[];
		callR2list();
		socket.on('r2ordercallr2listafter',function(a){
			for(var ia=0; ia<a.a.length; ia++){
				rgchildlist.push([a.a[ia].r2id,a.a[ia].r2listinfo]);
				givenchildlist.push([a.a[ia].r2id,a.a[ia].r2listinfo]);
			}
			childOrder('r2listboard')

			var r2listdiv=document.getElementById('r2list');
			for(var ia=0; ia<a.a.length ; ia++){
				var r2div=document.createElement('div');
				r2div.className='r2list';
				//r2div.onclick=function(i,j){return function(){funckeyAdd(i);addkeyReady(j); listinfoEditReady(i.id);}}(r2div,r21set[ia].r1id);

				var r2diva=document.createElement('a');
				r2diva.innerHTML=ia+1+') '+a.a[ia].r2listinfo
				r2diva.id=r2div.id+'a';
				r2div.appendChild(r2diva);
				r2listdiv.appendChild(r2div);
			}
		});

			
